@import "global";

:host {
    display: block;
    width: $item-size;
    height: $item-size;
    background-color: yellow;

    &.head {
        background-color: red;
    }

    &.body {
        background-color: green;
    }
}
