@import "global";

.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;

    width: #{$item-size*$elements};
    grid-template-columns: repeat($elements, 1fr);
    grid-template-rows: repeat($elements, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}


